<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="/user/info">· 个人信息</a></li>
            <li><a href="/user/order">· 全部订单</a></li>
            <li><a href="/user/address" class="active">· 收货地址</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">
        <h3 class="common_title2">收货地址</h3>
        <div class="site_con">
            <dl>
                <dt>当前地址：</dt>
                <dd>{{if compare .address ""}}暂无收货地址{{else}}{{.address.Addr}} （{{.address.Receiver}} 收） {{phone .address.Phone}}{{end}}</dd>
            </dl>
        </div>
        <h3 class="common_title2">编辑地址</h3>
        <div class="site_con">
            <form id="form">
                <div class="form_group">
                    <label>收件人：</label>
                    <input type="text" name="receiver">
                </div>
                <div class="form_group form_group2">
                    <label>详细地址：</label>
                    <textarea name="addr" class="site_area"></textarea>
                </div>
                <div class="form_group">
                    <label>手机：</label>
                    <input type="text" name="phone">
                </div>

                <input id="submit" type="button" name="" value="提交" class="info_submit">
            </form>
        </div>
    </div>
</div>
<script>
    var submitting = false
    $("#submit").click(function () {
        if (submitting) return
        submitting = true
        $.ajax({
            method:"POST",
            url:"/user/address",
            data:$("#form").serialize(),
            dataType:"json",
            success:function (d) {
                submitting = false
                if (d.code==0) {
                    alert("success")
                    location.reload(true)
                } else {
                    alert(d.msg)
                }
            },
            error:function(o,s,e) {
                submitting = false
                alert("error network")
            }
        })
    })
</script>