<div class="breadcrumb">
    <a href="/">全部分类</a>
    <span>></span>
    <a href="">搜索</a>
</div>
<div class="main_wrap clearfix">
    <div class="r_wrap fr clearfix">

        <ul class="goods_type_list clearfix">
            {{range .goodsList}}
            <li>
                <a href="/goods/detail?id={{.Id}}"><img src="http://{{getconfig "fdfs_host"}}:{{getconfig "fdfs_port"}}/{{.Image}}"></a>
                <h4><a href="/goods/detail?id={{.Id}}">{{.Name}}</a></h4>
                <div class="operate">
                    <span class="prize">￥{{.Price}}</span>
                    <span class="unit">{{.Price}}/{{.Unite}}</span>
                    <a onclick="addCart({{.Id}})" href="javascript:" class="add_goods" title="加入购物车"></a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
</div>
<script>
    function addCart(id) {
        $.ajax({
            method:"POST",
            url:"/cart/add",
            data:{
                goods_id:id,
                num:1
            },
            dataType:"json",
            success:function (d) {
                if (d.code==0) {
                    $("#show_count").text(d.data)
                } else {
                    alert(d.msg)
                }
            }
        })
    }
</script>